<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>User's Weapon</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1><%= @title %></h1>
    <p>YOUR WEAPON: <%= Choices[@vote] %></p>
    <p>YOUR BRILLIANT OPPONENT'S WEAPON: <%= @computer %></p>
    <h1><%= @computer %> BEATS <%= Choices[@vote] %></h1>

<blockquote class="imgur-embed-pub" lang="en" data-id="APUvc"><a
  href="//imgur.com/APUvc">View post on imgur.com</a></blockquote><script
  async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

  </body>
</html>
